###
# @Github: https://github.com/Certseeds/CS207_Digital_Design
# @Organization: SUSTech
# @Author: nanoseeds
# @Date: 2020-08-13 01:15:20
# @LastEditors: nanoseeds
# @LastEditTime: 2020-08-13 01:43:52
###
* text=auto
*.v linguist-language=Verilog eol=lf
*.vhdl linguist-language=VHDL eol=lf
*.xdc linguist-language=tcl eol=lf
*.tcl linguist-language=tcl eol=lf